body {
  background-color: #f8f9fe;
}
.delete-btn {
  color: grey;
}
.delete-btn:hover {
  color: #de3e44;
}
.delete-btn:active {
  outline: none;
}
.card-container {
  transition-duration: 0.3s;
}
.todolist-main {
  transition-duration: 0.3s;
}
